<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Продукты</title>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap")
    @Scripts.Render("~/bundles/modernizr")  
    @Styles.Render("~/Content/main-theme")
    @RenderSection("scripts", required: false)

</head>
<body>
    <header class="header">
        <div class="top-header">
            <div class="site-top__wrapper">
                <div class="site-top__item">
                    <span class="site-top__delivery-info">
                        Интернет-магазин:
                        <a class="site-top__link b-site-top__link_phone" href="tel:+79197234014">+7 (919) 723-40-14</a>
                        (9:00-21:00) |
                        <a class="site-top__link b-site-top__link_phone" href="mailto:zhan_chip@WebMail.ru">zhan_chip@mail.ru</a>
                    </span>
                </div>
                <div class="site-top__item">
                    <div class="site-top__block-account">
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-default main-menu" role="navigation">
            <div class="navbar-header success">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Главная</a>
            </div>
            <div class="navbar-right">
                @Html.Partial("~/Views/Bascet/BascetMenuItem.cshtml")
            </div>

        </nav>

    </header>

    @RenderBody()

</body>
</html>
