@using DataCore.Entities

@{
    Layout = "_Layout";
    string wrp = "wrp_" + Guid.NewGuid().ToString("N");
    string grid = "grd_" + Guid.NewGuid().ToString("N");

    string filter_btn_new = "btn_" + Guid.NewGuid().ToString("N");
    string filter_btn_delivery = "btn_" + Guid.NewGuid().ToString("N");
    string filter_btn_complete = "btn_" + Guid.NewGuid().ToString("N");
}

<div id="@wrp">
    <div>
        <div class="grid-filter-container">
            <button class="btn btn-success" id="@filter_btn_new">Новые</button>
            <button class="btn btn-info" id="@filter_btn_delivery">В доставке</button>
            <button class="btn btn-secondary" id="@filter_btn_complete">Завершенные</button>
        </div>
    </div>
    <div id="@grid"></div>

</div>

<script>

    var wrap = {
        editRow : function (id) {
            window.location.href = "/Order/Edit?id=" + id;
        },

        toDelivery: function (id) {
            $.post('@Url.Action("ToDelivery")?id=' + id).done(() => {
                wrap.filterGrid();
            });
        },
        toComplete: function(id) {
            $.post('@Url.Action("ToComplete")?id=' + id).done(() => {
                wrap.filterGrid();
            });
        },
        filterGrid: function () {
            var grid = $('#@grid').data('kendoGrid');

            grid.dataSource.read({
                state: wrap.status
            });
        }


    };

    window['@wrp'] = wrap;

    $(function () {



        var $grid = $('#@grid');

        $('#@filter_btn_new').on('click', function () {

            wrap.status = @Html.Raw((int)OrderState.New);

            wrap.filterGrid();
        });

        $('#@filter_btn_delivery').on('click', function () {

            wrap.status = @Html.Raw((int)OrderState.InProgress);
            wrap.filterGrid();
        });

        $('#@filter_btn_complete').on('click', function () {
            wrap.status = @Html.Raw((int)OrderState.Complete);
            wrap.filterGrid();
        });

      
     
        
        $grid.kendoGrid({
            dataSource: {
                type: "webapi",
                transport: {
                    read: {
                        url: "@Url.Action("GetAll", "Order")"
                    }
                },
                schema: {
                    id: "ID",
                    data: "Data",
                    total: "Total"
                },
                pageSize: 20,
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            selectable: "single,row",
            detailTemplate: kendo.template($("#order-detail-template").html()),
            detailInit: detailInit,
            filterable: true,
            sortable: true,
            pageable: true,
            columns: [
                {
                    field: "State",
                    title: "Статус",
                    width: 50,
                    template: kendo.template($("#enum-template").html())
                },
                {
                    field: "Id",
                    title: "Номер заказа",
                    width: 150
                },
                {
                    field: "Address",
                    title: "Адрес",
                },
                {
                    field: "TotalAmount",
                    title: "Сумма",
                    format: "{0:c}",
                    width: 150
                },
                {
                    field: "Phone",
                    title: "Телефон",
                    width: 150
                },
                {
                    field: "UserName",
                    title: "Имя покупателя"
                },
                {
                    title: '',
                    field: null,
                    template: kendo.template($('#row-controls').html())
                }
            ]
        });

        function detailInit(e) {
            var detailRow = e.detailRow;
            var orderId = e.data.Id;

            detailRow.find(".tabstrip").kendoTabStrip();

            detailRow.find(".details-grid").kendoGrid({
                autoBind: true,
                dataSource: {
                    transport: {
                        read: {
                            url: '@Url.Action("GetOrderProducts")?orderID=' + orderId,
                        }
                    }
                },
                columns: [
                    {
                        field: "Product.Title",
                        title: "Имя продукта"
                    }, {
                        field: "Price",
                        title: "Цена",
                        format: "{0:c}",
                        width: 220
                    }, {
                        field: "Count",
                        title: "Количество",
                        width: 220
                    },
                    {
                        title: "Итого",
                        format: "{0:c}",
                        template: "<span name='sum'>#=kendo.toString(Price * Count, 'c')#</span>",
                        width: 120
                    }
                ],
                selectable: true
            });
        }
    })
</script>

<script id="enum-template" type="text/x-kendo-template">
    <div>
        # if(State === 0) {  #
        <span class="fa fa-certificate" style="color: green;">

        </span>
        # } else if(State === 1) { #
        <span class="fa fa-truck" style="color: rgb(23, 162, 184);">
        </span>
        # } else if(State === 2) { #
        <span class="fa fa-check">
        </span>

        # } #
    </div>
</script>


<script id="row-controls" type="text/x-kendo-template">
    <div class="">

        <button class="btn btn-success" onclick="window['@wrp'].editRow(#:Id#)">Просмотреть</button>
        <button class="btn btn-info" onclick="window['@wrp'].toDelivery(#:Id#)">Доставка</button>
        <button class="btn btn-secondary" onclick="window['@wrp'].toComplete(#:Id#)">Завершить</button>

    </div>

</script>


<script id="order-detail-template" type="text/x-kendo-tmpl">
    <h4>Информация по заказу № #=Id#</h4>
    <div class="tabstrip">
        <ul>
            <li class="k-state-active">
                Позиции
            </li>
            <li>
                Информация
            </li>
        </ul>
        <div class="details-grid">

        </div>
        <div>
            <div class='shipping-details'>
                <ul>
                    <li><label>Имя:</label>#= UserName #</li>
                    <li><label>Телефон:</label>#= Phone #</li>
                    <li><label>Адрес доставки:</label>#= Address #</li>
                    <li><label>Коментарий:</label>#= Comment #</li>
                    <li><label>Сдача с:</label>#= Change #</li>
                    <li><label>Количество приборов:</label>#= PersonCount #</li>
                </ul>
            </div>
        </div>
    </div>
</script>
