@model Magazin.Models.DetailViewModel
@{
    string fileUpload = "upl_" + Guid.NewGuid().ToString("N");
}


<script>
    window['@Model.Id'] = new DetailViewForm('@Model.Id');
    (function() {
        var form = window['@Model.Id'];

        form.save = function () {

            var viewModel = form.getModel();            

            var data = JSON.stringify(viewModel.toJSON());

            $.ajax({
                type: "POST",
                url: "@Url.Action("UpdateProduct","Product")",
                data: data,
                dataType: "json",
                contentType: "application/json",
                success: function(result) {
                    if (result.error) {

                    } else {
                        form.getWindow().close();
                    }
                }
            });
        };

    })();
</script>

<div id="@Model.Id">
    <div id="formtoolbar" style="background-color: #444">
    </div>
    <div id="tabstrip">
        <ul>
            <li class="k-state-active">Основное</li>
            <li>Файлы</li>
        </ul>

        <div>
            <div class="editor-row">
                <label for="titleInput" class="editor-label">Наименование</label>
                <div class="editor-container">
                    <input id="titleInput" type="text" class="form-control" data-bind="value: Title" />
                </div>
            </div>
            <div class="editor-row">
                <label for="priceInput" class="editor-label">Цена</label>
                <div class="editor-container">
                    <input id="priceInput" type="number" class="form-control" data-bind="value: Price" />
                </div>
            </div>
        </div>

        <div>
            <input id="@fileUpload" name="files" type="file"/>               
        </div>

    </div>
</div>



<script>
    $(function () {
        var form = window['@Model.Id'];

        var ajaxParams = {
            id: '@Model.EntityId',
            categoryId: '@Model.CategoryId'
        }

        $.ajax({
            url: '@Url.Action("Get")',
            type: "GET",
            data: ajaxParams,
            success: function (result) {
                var viewModel = new kendo.data.ObservableObject(result);
                form.setModel(viewModel);
            },
            dataType: "json",
            contentType: 'application/json'
        });

        $('#tabstrip').kendoTabStrip();

        $('#formtoolbar').kendoToolBar({
            items: [
            {
                attributes: { "style": "float : right;" },
                type: "buttonGroup",
                buttons: [
                { type: "button", text: "Сохранить", click: form.save, attributes: { "class": "primary", "title": "Сохранить", "data_popup": "bottom" } }]
            }]
        });


        $('#@fileUpload').kendoUpload({
            async: {
                saveUrl: "@Url.Action("Upload","File", new {Area = ""})",
                autoUpload: true
            }
        });

    });
</script>

<style>
    #tabstrip {
        height: 100%;
    }

        #tabstrip h2 {
            font-weight: lighter;
            font-size: 5em;
            line-height: 1;
            padding: 0 0 0 30px;
            margin: 0;
        }

            #tabstrip h2 span {
                background: none;
                padding-left: 5px;
                font-size: .3em;
                vertical-align: top;
            }

        #tabstrip p {
            margin: 0;
            padding: 0;
        }
</style>
