@using Kendo.Mvc.UI
@model Magazin.Models.DialogViewModel
@{
    string wrapId = "wrp_" + Guid.NewGuid().ToString("N");
    string toolbarName = "tlbr_" + Guid.NewGuid().ToString("N");
    string gridId = "grid_" + Guid.NewGuid().ToString("N");
}

<script>
    var dialogControl = window['@Model.DialogId'];
    window['@gridId'] = new GridControl('@gridId', "productGrid");

    (function () {

        var productsControl = window['@gridId'];
        dialogControl.addControl(productsControl);


        productsControl.createProduct = function () {
            var url = "@Url.Action("EditProduct", "Product")?id=&categoryId=" + productsControl.currentCategory;

            var params = {
                title: 'Продукт',
                contentUrl: url
            };

            var onClose = function (e) {
                productsControl.readDataSource();
            };

            UiApi.openModalWindow(params, onClose);
        };

        productsControl.deleteProduct = function () {
            var entity = productsControl.getSelectedItem();
            $.ajax({
                type: "POST",
                url: "@Url.Action("DeleteProduct", "Product")",
                data: JSON.stringify({ id: entity.Id }),
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    if (result.error) {

                    } else {
                        productsControl.readDataSource();
                    }
                }
            });


        };
        productsControl.editProduct = function () {
            var entity = productsControl.getSelectedItem();
            var url = "@Url.Action("EditProduct", "Product")?id=" + entity.Id + "&categoryId=" + productsControl.currentCategory;

            var params = {
                title: 'Продукт',
                contentUrl: url
            };

            var onClose = function (e) {
                productsControl.readDataSource();
            };

            UiApi.openModalWindow(params, onClose);
        };

        productsControl.onControlFire = function (e) {
            console.log(e);
            switch (e.sender.desc) {
                case "categories":
                    {
                        switch (e.event) {
                            case "change":
                                {
                                    productsControl.changeCategory(e.data);
                                    break;
                                }
                        }
                        break;
                    }
            }
        };

        productsControl.onToolbarClick = function (e) {
            e.preventDefault();
            var action = e.target.attr('data-action');
            switch (action) {
                case "Add":
                    {
                        window['@gridId'].createProduct();
                        break;
                    }
                case "Delete":
                    {
                        window['@gridId'].deleteProduct();
                        break;
                    }
                case "Edit":
                    {
                        window['@gridId'].editProduct();
                        break;
                    }
                default:
            }
        }
    })();
</script>


<div id="@wrapId">
    <div>
        @(Html.Kendo().ToolBar()
        .Name(toolbarName)
        .Items(toolbar =>
        {
            toolbar.Add().Type(CommandType.ButtonGroup).Buttons(btns =>
            {

                btns.Add().Text("Добавить").ShowText(ShowIn.Overflow).SpriteCssClass("mdi mdi-plus").HtmlAttributes(new { title = "Создать", data_action = "Add" });
                btns.Add().Text("Редактировать").ShowText(ShowIn.Overflow).SpriteCssClass("mdi mdi-pencil").HtmlAttributes(new { title = "Редактировать", data_action = "Edit" });
                btns.Add().Text("Удалить").ShowText(ShowIn.Overflow).SpriteCssClass("mdi mdi-close").HtmlAttributes(new { title = "Удалить", data_action = "Delete" });
            });
        })
        .Events(e =>
        {
            e.Click(gridId + ".onToolbarClick");
        })
        )
    </div>

    <div>
        @(Html.Kendo().Grid<Data.Entities.Product>()
              .Name(gridId)
              .Pageable()
              .AutoBind(false)
              .Scrollable()
              .Selectable(s => s.Mode(GridSelectionMode.Single).Type(GridSelectionType.Row).Enabled(true))
              .Columns(c =>
              {
                  c.Bound(p => p.Title).Title("Наименование");
                  c.Bound(p => p.Price).Title("Цена");
              })
              .DataSource(ds => ds
                  .Ajax()
                  .Sort(x=>x.Add(p=>p.Id).Descending())
                  .Read(read => read.Action("GetProducts", "Product"))
                  .PageSize(15)
              ))
    </div>
</div>


<script>


    $(function () {
        var $toolbar = $('#@toolbarName');
        $toolbar.find(".k-sprite").removeClass("k-sprite");
    });

</script>