@using Kendo.Mvc.UI
@model Data.Entities.InComeEntity


@{
    string drop = "drp_" + Guid.NewGuid().ToString("N");
    string wrapId = "wrp_" + Guid.NewGuid().ToString("N");
    string toolbarId = "tlbr_" + Guid.NewGuid().ToString("N");
}


<div id="@wrapId">
    <h4>Позиция</h4>
    <hr />
    <div id="@toolbarId"></div>

    <div class="editor-row">
        <label class="editor-label">Продукт</label>

        <div class="editor-container">
            <input id="@drop" data-role="autocomplete"
                   data-placeholder="Выберите продукт ..."
                   data-value-primitive="false"
                   data-text-field="Title"
                   data-value-field="Id"
                   data-bind="value: Model.Product,
                              source: products,
                              events :{select : onChange}"
            />
        </div>
    </div>


    <div class="editor-row">
        <label class="editor-label">Количество</label>
        <div class="editor-container">
            <input type="number" data-bind="value: Model.Count" />
        </div>
    </div>
</div>

<script>
    $(function() {
        var $form = $('#@wrapId');

        var model = @Html.Raw(Json.Encode(Model));

        var viewModel = new kendo.data.ObservableObject();

        viewModel.Model = new kendo.data.ObservableObject(model);

        viewModel.products = new kendo.data.DataSource({
            transport: {
                read: {
                    url : "@Url.Action("FindProduct", "Product")",
                    data: function() {
                        var val = $('#@drop').data('kendoAutoComplete').value();

                        return {
                            startWith: val
                        };
                    }
                }
            }
        });

        viewModel.onChange = function(e) {
            viewModel.Model.ProductId = e.dataItem.Id;
        };

        kendo.bind($form, viewModel);

        var save = function() {            
            var wnd = $form.closest('[data-role="window"]').data('kendoWindow');
            wnd.Model = viewModel.Model;
            wnd.close(viewModel);
        }

        $('#@toolbarId').kendoToolBar({
            items:[
            {
                attributes : {"style" : "float : right;"},
                type: "buttonGroup",
                buttons: [
                    { type: "button", text: "Сохранить", click: save, attributes: {"class" : "primary" , "title" : "Сохранить" , "data_popup" : "bottom"}} ]
            }]
        });
    });
</script>



<script>
    $(function() {
        var $toolbar = $('#@toolbarId');
        $toolbar.find(".k-sprite").removeClass("k-sprite");
    });

</script>
