@using WebUiAdmin.Components
@model DataCore.Entities.Documents.IncomingDocument

@{
    string grid = "grd_" + Guid.NewGuid().ToString("N");
    string toolbar = "tlbr_" + Guid.NewGuid().ToString("N");
    string saveButton = "btn_" + Guid.NewGuid().ToString("N");
    string cancelButton = "btn_" + Guid.NewGuid().ToString("N");
    string wrap = "wrp_" + Guid.NewGuid().ToString("N");
    string editProductWindow = "wnd_" + Guid.NewGuid().ToString("N");
}


<div id="@wrap" class="edit-container">
    <div class="navbar navbar-light bg-light justify-content-end">

        <div class="">
            <button id="@saveButton" class="btn btn-success">Сохранить</button>
            <button id="@cancelButton" class="btn btn-info">Закрыть</button>
        </div>


    </div>
    <div class="row">
        <div class="col-md-4">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input class="form-control" data-bind="value: Title" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input class="form-control" data-bind="value: Description" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-8">

            <div class="form-group">
                <label class="control-label">Позиции документа</label>
                <div id="@toolbar"></div>
                <div id="@grid">

                </div>
            </div>

        </div>
    </div>
    <div id="@editProductWindow"></div>
</div>


<script>

    kendo.culture("ru-RU");

    var $grid = $('#@grid');
    var $toolbar = $('#@toolbar');
    var $saveButton = $('#@saveButton');
    var $cancelButton = $('#@cancelButton');
    var $kendoWindow = $('#@editProductWindow');
    var contentUrl = "@Url.Action("IncomingDocumentEntryEdit", new { parent = wrap })";
    var windowOptions = {
        content: contentUrl,
        width: "700",
        height: "500",
        modal: true,
    }


    $(function() {

        var model = new kendo.observable(@Html.Raw(Json.Serialize(Model)));
        var closeModal = function () { $('#@editProductWindow').data('kendoWindow').close(); }

        var form = {
            model: model,
            closeModal: closeModal,
            selectedRow: null,
            op: ""
        };



        window['@wrap'] = form;

        kendo.bind($('#@wrap'), form.model);


        var addRow = function () {
            form.op = "create";
            form.selectedRow = null;
            var kendoWindow = $kendoWindow.kendoWindow(windowOptions);
            kendoWindow.data('kendoWindow').center().open();
        };

        var editRow = function () {
            var grid = $('#@grid').data('kendoGrid');
            var row = grid.dataItem(grid.select());
            if (row) {
                form.op = "edit";
                form.selectedRow = row;
                var kendoWindow = $kendoWindow.kendoWindow(windowOptions);
                kendoWindow.data('kendoWindow').center().open();
            }
        };

        var deleteRow = function() {
            var grid = $('#@grid').data('kendoGrid');
            var row = grid.dataItem(grid.select());

            if (row) {
                model.Products.remove(row);
            }
        };




        $grid.kendoGrid({
            dataSource: {
                data: model.Products
            },
            selectable: "single,row",
            filterable: true,
            sortable: true,
            columns: [
                {
                    field: "Product.Title",
                    title: "Продукт",
                },
                {
                    field: "Count",
                    title: "Количество"
                },
                {
                    field: "Product.Price",
                    title: "Цена"
                }
            ]
        });
        $toolbar.kendoToolBar({
            items: [
                {
                    type: "button",
                    text: "Добавить",
                    icon: "plus",
                    click: addRow
                },
                {
                    type: "button",
                    text: "Изменить",
                    icon: "pencil",
                    click: editRow
                },
                {
                    type: "button",
                    text: "Удалить",
                    icon: "delete",
                    click: deleteRow
                }
            ]
        });
        $saveButton.on('click', function() {
            var url = "@Url.Action("Update")";
            var callback = function() {

            }

            $.ajax({
                url: url,
                type: "POST",
                data: JSON.stringify(model),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: callback
            });
        });

        $cancelButton.on('click', function() {
            var url = "@Url.Action("Index")";
            window.location = url;
        });


    });

</script>