@{
    string wrapID = "wrp_" + Guid.NewGuid().ToString("N");
    string categoryWrap = "cmb_" + Guid.NewGuid().ToString("N");
    string productWrap = "cmb_" + Guid.NewGuid().ToString("N");
    string saveButton = "btn_" + Guid.NewGuid().ToString("N");
    string cancelButton = "btn_" + Guid.NewGuid().ToString("N");
    Layout = null;
    string parentID = Model;
}


<div id="@wrapID">
    <div class="navbar navbar-light bg-light justify-content-end">
        <button class="btn btn-success" id="@saveButton">Сохранить</button>
        <button class="btn btn-info" id="@cancelButton">Отмена</button>
    </div>

    <div class="">
        <div class="row">
            <div class="col-md-4">
                <label class="control-label">Категория</label>
            </div>
            <div class="col-md-8">
                <input id="@categoryWrap" class="w-100" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <label class="control-label">Продукт</label>
            </div>
            <div class="col-md-8">
                <input id="@productWrap" class="w-100" />
            </div>

        </div>

        <div class="row">
            <div class="col-md-4">
                <label class="control-label">Количество</label>
            </div>
            <div class="col-md-8">
                <input type="number" class="w-100 form-control " data-bind="value: Count" />
            </div>
        </div>
    </div>
</div>


<script>

    var parentForm = window['@parentID'];

    var model = null;

    if (parentForm.selectedRow && parentForm.op === "edit") {
        model = parentForm.selectedRow;
    } else {
        model = {
            ProductId: null,
            Product: null,
            Price: null,
            Count: 1,
            Id: 0,
            OrderID: 0,
            Hidden: false
        }
    }

    var viewModel = kendo.observable(model);

    kendo.bind($('#@wrapID'), viewModel);

    $('#@categoryWrap').kendoComboBox({
        placeholder: "Выбери категорию...",
        dataTextField: "Title",
        dataValueField: "Id",
        dataBound: function () {
            if (model.Product) {
                this.select(function(dataItem) {
                    return dataItem.Id === model.Product.CategoryID;
                });
            }
        },
        dataSource: {
            type: "webapi",
            serverFiltering: true,
            transport: {
                read: "@Url.Action("GetAll", "ApiCategories")"
            }
        }
    });

    $('#@productWrap').kendoComboBox({
        autoBind: false,
        placeholder: "Выбери продукт...",
        cascadeFrom: "@categoryWrap",
        cascadeFromField: "Id",
        dataTextField: "Title",
        dataValueField: "Id",
        dataBound: function() {
            if (model.Product) {
                this.select(function (dataItem) {
                    return dataItem.Id === model.Product.Id;
                });
            }
        },
        change: function() {
            var value = this.dataItem();
            value.File = null;
            viewModel.Product = value;
            viewModel.ProductId = value.Id;
            viewModel.Price = value.Price;
        },
        dataSource: {
            type: "webapi",
            serverFiltering: true,
            transport: {
                read: {
                    url: "@Url.Action("GetAll", "ApiProduct")",
                    data: function() {
                        return {cat : $('#@categoryWrap').val()}
                    }
                }
            }
        }
    });


    $('#@saveButton').on('click', function () {

        if (parentForm.op === "create") {
            parentForm.model.Products.push(viewModel);
        }

        parentForm.closeModal();

    });

    $('#@cancelButton').on('click', function() {
        parentForm.closeModal();
    });

</script>


