@using WebUiAdmin.Components

@{
    ViewBag.Title = "Документы прихода";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string wrp = "wrp_" + Guid.NewGuid().ToString("N");
    string grid = "grd_" + Guid.NewGuid().ToString("N");
}

<div id="@wrp">
    <div>
        @await Component.InvokeAsync(typeof(GridToolbarComponent), wrp)
    </div>
    <div id="@grid"></div>

</div>



<script>
    $(function () {

        var component = {
            addRow: function() {
                document.location.href = "@Url.Action("Create")";
            },
            editRow: function() {
                var grid = $('#@grid').data('kendoGrid');

                var selectedItem = grid.dataItem(grid.select());
                if (selectedItem)
                    document.location.href = "@Url.Action("Edit")?id=" + selectedItem.Id;

            },
            deleteRow: function() {
                var grid = $('#@grid').data('kendoGrid');

                var selectedItem = grid.dataItem(grid.select());

                if (selectedItem) {
                    $.post('@Url.Action("Delete")?id=' + selectedItem.Id).then(() => {
                        grid.dataSource.read();
                    });
                }
            }
        }

        window['@wrp'] = component;

        var $catGrid = $('#@grid');

        $catGrid.kendoGrid({
            dataSource: {
                type: "webapi",
                transport: {
                    read: "@Url.Action("GetAll", "IncomingDocument")"
                },
                schema: {
                    id: "ID",
                    data: "Data",
                    total: "Total"
                },
                pageSize: 20,
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            selectable: "single,row",
            columns: [
                {
                    field: "Title",
                    title: "Имя документа"
                },
                {
                    field: "DocumentStatus",
                    title: "Статус"
                },
                {
                    field: "Date",
                    title: "Дата создания"
                },
                {
                    field: "ProcessDate",
                    title: "Дата проводки"
                }
            ]
        });


        var editRow = function(id) {
            var url = '@Url.Action("Edit", "IncomingDocument")?id=' + id;

            window.location.href = url;
        }

        $('#@grid').on('dblclick', 'tr.k-state-selected', function(e) {
            var grid = $catGrid.data('kendoGrid');
            var selectedRows = grid.select();
            var product = grid.dataItem(selectedRows[0]);

            editRow(product.Id);
        });

    });



</script>
