@{
    string catId = "cat_" + Guid.NewGuid().ToString("N");
    string prodId = "prd_" + Guid.NewGuid().ToString("N");
}

<div>
</div>

<script>
    window['@Model.DialogId'] = new DialogControl('@Model.DialogId');

    (function () {

    })();


</script>


<div id="@Model.DialogId" class="content">

    <div id="@catId" class="product-categories">

    </div>

    <div id="@prodId" class="products">

    </div>


</div>


<script>
    $(function () {

        $('#@catId').kendoListView({                                   
            template: kendo.template($('#category-template').html()),
            dataSource: {
                type: "aspnetmvc-ajax",                
                transport: {
                    prefix: "",
                    read: {
                        url: "@Url.Action("GetProductCategories")"
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors",
                    model: {
                        id : 'Id',
                        fields: {
                            Id: { type: "number" },
                            Title: { type: "string" },
                            File: { type: "string" ,defaultValue: null }
                        }
                    }
                }
            }
        });

        $('#@prodId').kendoGrid({
            height: 550,
            filterable: true,
            sortable: true,
            pageable: true,
            columns: [{ field: 'Title' }],
            dataSource: {
                type: 'aspnetmvc-ajax',
                transport: {
                    read: {
                        url: "@Url.Action("GetProducts")",
                    }
                },
                schema: {
                    model: {
                        fields: {
                            Id: { type: "number" },
                            Title: { type: "string" }
                        }
                    }
                }
            }
        });

    });
</script>

<style>
    .content {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .product-categories {
        
    }

    .products {
        
    }
</style>

<script type="text/x-kendo-template" id="category-template">
    <div class="category">
        <img src="/Files/#=File#" width="64" height="64"/>
        <a href="">#:Title#</a>        
    </div>
</script>