<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Админка</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/dialogControls")
    @Styles.Render("~/Content/admin-css")


</head>
<body>
    <aside id="side-bar">
        <div>
            <a href="/">
                <img src="~/Content/images/admin-logo.png"/>
            </a>
        </div>
        
        

        @{Html.RenderPartial("SideBar");}
    </aside>

<div id="main-content">
    @RenderBody()
</div>
    

@RenderSection("scripts", false)
</body>
</html>
