@{
    ViewBag.Title = "Продукты";
    Layout = "_Layout";
    string wrapID = "wrp_" + Guid.NewGuid().ToString("N");
    string productGrid = "grd_" + Guid.NewGuid().ToString("N");
    string catGrid = "grd_" + Guid.NewGuid().ToString("N");
}


<div id="@wrapID">
    <div id="@catGrid"></div>
    <div id="@productGrid"></div>
</div>


<script>

    var $productGrid = $('#@productGrid');
    var $catGrid = $("#@catGrid");
    var $splitter = $('#@wrapID');
    var catID = null;

    var onCatChange = function(e) {

        var selectedRows = this.select();
        var cat = this.dataItem(selectedRows[0]);
        catID = cat.Id;

        $productGrid.data('kendoGrid').dataSource.fetch();
    };


    var getTransportData = function () {
        return {
            catID : catID
        };
    }

    var editRow = function (id) {

        var url = '@Url.Action("Edit", "Product")?id=' + id;

        window.location.href= url;
    }

    $productGrid.on("dblclick", "tr.k-state-selected", function(e) {

        var grid = $productGrid.data('kendoGrid');
        var selectedRows = grid.select();
        var product = grid.dataItem(selectedRows[0]);

        editRow(product.Id);
    });



    $(function() {
        $productGrid.kendoGrid({
            dataSource: {
                type: "webapi",
                transport: {
                    read: {
                        url: "@Url.Action("GetAll", "Product")",
                        data: getTransportData
                    }
                },
                schema: {
                    id: "ID",
                    data: "Data",
                    total: "Total"
                },
                pageSize: 20,
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            selectable: "single,row",
            filterable: true,
            sortable: true,
            pageable: true,
            columns: [
                {
                    field: "Title",
                    title: "Имя",
                }, {
                    field: "Description",
                    title: "Описание"
                }, {
                    field: "Price",
                    title: "Цена"
                },
                {
                    title: '',
                    field: null,
                    template: '<a href="/Product/Edit?id=#:Id#">Edit</a>'
                }
            ]
        });


        $catGrid.kendoGrid({
            dataSource: {
                type: "webapi",
                transport: {
                    read: "@Url.Action("GetAll", "Category")"
                },
                schema: {
                    id: "ID",
                    data: "Data",
                    total: "Total"
                }
            },
            change: onCatChange,
            selectable: "single,row",
            columns: [
                {
                    field: "Title",
                    title: "Title"
                }
            ]
        });

        $splitter.kendoSplitter({
            panes: [{ size: "400" }, {}]
        });


        var heigth = $(window).height() - 20;
        var splitter = $splitter.data('kendoSplitter');

        $splitter.height(heigth);
        splitter.resize();

    });


</script>